[color]
  ui = true

[user]
	name = Jihwan Chun
	email = jihwan0321@gmail.com

[diff]
  indentHeuristic = true

[includeIf "gitdir:~/dev/vessl/"]
    path = .gitconfig-vessl

[alias]
  lola = log --graph --decorate --pretty=format:'%C(yellow)%h %C(green)(%ar) %C(cyan)%an %C(bold white)|%C(reset) %C(white)%s%C(reset)%C(auto)%d%C(reset)' --abbrev-commit --all
  main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
  fomo = !git fetch origin $(git main-branch) && git rebase origin/$(git main-branch) --autostash

[pull]
	rebase = false

[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
